.main-toolbar {
  height: 4.5rem;
  background-color: #607D8B;
  color: #fff;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  width: 100%;

  .home {
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
  }
}

main {
  padding: 1rem;
}

.links-row {
  display: flex;
  justify-content: center;

  a {
    display: block;
    margin: 0 0.5rem;
    text-decoration: none;
    color: #607D8B;

    &:hover {
      text-decoration: underline;
    }
  }
}
